<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>node.js html 렌더링</title>
    </head>
    <body>
        <h1 class="c1">cookie1 : <%= cookie1 %></h1>
    </body>
</html>