<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>node.js html 렌더링</title>
    </head>
    <body>
        <h1 class="c1">Parameter.ejs</h1>
        data1: <%= data1 %> <br/>
        data2: <%= data2 %> <br/>
    </body>
</html>