<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>node.js html 렌더링</title>
    </head>
    <body>
        <h1 class="c1">index.ejs</h1>
        str : <%= str %> <br />
        num : <%= num %> <br />
        date : <%= date %> <br />
        <a href="test">test</a>
    </body>
</html>